body {
  background-color: lightGrey;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1 {
  text-align: right;
  color:  white;
  font-size: 50px;
}

h4 {
  display: inline;
}

.inst-button {
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}

.inst-title {
  align-self: center;
  justify-self: left;
}

.button-row {
  min-width: 940px;
}

.kick {
  background-color: #9c83e8;
}

.snare {
  background-color: #ff6666;
}

.openhat {
  background-color:  #00e6ac;
}

.closedhat {
  background-color:  #4db8ff;
}

.button-wrapper {
  min-height: 75px
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 60px repeat(16, 1fr)
}

.wrapper {
  margin: 0px auto;
  height: 768px;
  width: 1366px;
  background: url('svg/buttons/beat-machine-bkg-3.svg');
  background-size: 1366px 768px;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons {
  float: right;
  padding-right: 6%;
  margin 0px auto;
  width: 1100px;
  padding-top: 3%;
}

#app-title {
  padding-top: 26px;
  padding-right: 160px;
  padding-bottom: 0px;
}

.svg-button {
  box-sizing: border-box;
}

.magenta-button {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-magenta-dark.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.magenta-button-lit {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-magenta-lit.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.purple-button {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-purple-dark.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.purple-button-lit {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-purple-lit.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.green-button {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-green-dark.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.green-button-lit {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-green-lit.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.blue-button {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-blue-dark.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}

.blue-button-lit {
  min-height: 75px;
  min-width: 42px;
  background: url('svg/buttons/button-blue-lit.svg');
  background-size: 42px 75px;
  background-repeat: no-repeat;
}
